<div class="container">
  <h2>xlsx to json</h2>
  <form (ngSubmit)="onSubmit()" class="">
    <label>Add an url</label>
    <input type="text" placeholder="url" name="url" [(ngModel)]="url"/>
    <div class="right-align">
      <button class="btn" type="submit">FETCH DATA</button>
    </div>
  </form>

  <label>or upload a file</label>

  <form (ngSubmit)="onUpload()" class="">
    <div class="file-field input-field">
    </div>
    <div class="file-field input-field">
      <div class="btn">
        <span>CHOOSE FILE</span>
        <input type="file" name="file" (change)="onFileChange($event)"/>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" name="fileText" type="text" [(ngModel)]="file.name">
      </div>
    </div>
    <div class="right-align">
      <button class="btn" type="submit">PARSE FILE</button>
    </div>
  </form>


  <h3>handsontable</h3>
  <hot-table [colHeaders]="true"
             [rowHeaders]="true"
             [columnSorting]="true"
             [manualColumnMove]="true"
             [height]="500"
             [data]="data"></hot-table>

  <router-outlet></router-outlet>


  <h3>canvas-datagrid</h3>
  <canvas-datagrid #grid id="grid" class="myGridStyle">

  </canvas-datagrid>


</div>
